<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Discover</h5>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Community</h5>
          <ul>
            <li><a href="#">Forum</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <ul>
            <li>Email: <a href="mailto:info@example.com">saik@gmail.com</a></li>
            <li>Phone: +1 (234) 567-890</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  