.modal-dialog {
  max-width: 600px;
  margin: 30px auto;
}

.modal-content {
  border-radius: 10px;
  background-color: #FFFFFF;
}

.modal-header {
  background-color:#e0f7fa;
  color: white;
  border-bottom: none;
  padding: 20px;
}

.modal-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  border-top: none;
  padding: 15px;
  background-color: #FF7F50;
  display: flex;
  justify-content: space-between;
}

.btn-close {
  background-color: transparent;
  border: none;
  color: #FF7F50;
}

.btn-primary {
  background-color: #FF7F50;
  border: none;
}

.btn-primary:hover {
  background-color: #FF6347;
}

.btn-secondary {
  background-color: #00CED1;
  border: none;
}

.btn-secondary:hover {
  background-color: #20B2AA;
}
